


/*header*/


.main-header{    
	padding: 50px;
 line-height: 1.5;    
 background-color: #668599;
}

h1 {
	color: white;
}


.main-header{
	text-align: center;
}

/*body*/

body{
	  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

.photographer{
	height: 400px;
	width: 500px;
	border-radius: 20%;
	float: right;	
}

.qualifications,
.education{
	width: 46.5%;
}



.qualifications{
	float: left;
	line-height: 1.5;
}

.education{
	float: right;
}

h1{
	border-bottom: 2px solid;
}